@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html, body{
    width:100%;/*serve para priencher automaticamente os espaço laterais */ 
    background-color: #f3f3f7;
}
 
/*===================Cores do documento====================*/
:root{
    --header-bg-color: hsl(343, 59%, 45%);/*rgba(1, 119, 128, 1)*/
    --fundo-fd-color: rgba(8, 164, 175, 0.199);
    --fundo-fd-color-2: rgb(213, 213, 224); /*rgba(238, 238, 238, 1*/
    --brand-light: rgb(255, 255, 255);
    --footer-bg-color: rgb(0, 32, 34);
    --button-color: rgb(4, 177, 168);
    --body--color: #f3f3f7;

}
header{
    width: 100%;
    margin: auto;
}

nav{
    background-color: var(--header-bg-color);
    padding: 12px;
    position: relative;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
.logo img{ /*logotipo*/
    width: 200px;
}
.menu-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.menu-nav li a{
    color: #fff;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}
/*===================BOTÃO DE MENU====================*/
#menu{ /*botão menu */
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;/*removes bullets*/
    position: absolute;
    z-index:  2;
    top: 0;
    right: 0rem;
    width: 17rem;
    height: 80%;
    background-color: var(--header-bg-color);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3); 
    padding: 0rem 0 0 2.5rem;    
}

nav #nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;

}

div .bi-bag-plus-fill{ /*botão car-decompra*/
    color: var(--brand-light);
    font-size: 1.7rem;
}

div .bi-three-dots-vertical{ /*botão open-menu */
    color: var(--brand-light);
    font-size: 1.7rem;
    cursor: pointer;
}

div .bi-x{ /*botão close-menu */
    color: var(--brand-light);
    font-size: 2.3rem;
    cursor: pointer;
    margin-left: 11rem;
}
#menu-list {/* LISTA DE UL-LI-A*/
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-right: 2rem;
    gap: 1.4rem;
    margin: 24px 0;
    
}
#menu-list li a{/* COR DA LISTA DE UL-LI-A*/
    color: var(--brand-light);
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
}
#open-menu{
    display: none;
}
button.depois-menu {
    background-color: #fff;
    padding: 9px 1px; /*serve para priencher automaticamente os espaço laterais */
    border: none;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    color: var(--header-bg-color);
    font-size: 1.1rem;
    font-weight: 500;
}
.depois-menu a{
    color: var(--header-bg-color);
    padding: 0.5rem 1.5rem;
}

.depois-menu a:hover{
    background-color: var(--button-color);
    color: var(--brand-light);
    transition: 0.3s;
    border-radius: 10rem;
}
#redes-social ul {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    padding-right: 3rem;
}
#redes-social ul a{
    margin-left: 2rem;
}
/*===================FIM-BOTÃO DE MENU====================*/

.wapper{
    width: 100%;
    height: 100vh;
    background-image: url(img/img2/flowers-red-table-couch-chair-lamp-709447-wallhere.com.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
#hero{ 
    width: 100%;    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    gap: 10px;
}
#btn{
    cursor: pointer;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 10px;  
}
.text h1{
    top: 39px;
    left: 25px;
    position: relative;
    font-family: "DM Sans";
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 2.4rem;
    color: var(--header-bg-color);
    
}
.text p{
    top: 39px;
    left: 25px;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: black;
    font-weight: 400;
}
#input{
    top: 39px;
    left: 25px;
    position: relative;
    display: flex;
    align-items: center;
}
.btn-pesquisa{
    border: 1px solid hsla(340, 100%, 29%, 0.445);
    border-radius: 20px 0 0 20px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 40px;
   
    margin-top: 1.1rem;
}
.btn-começar{ /* botão- O que ajudar*/
    background: var(--header-bg-color);
    border: none;
    border-radius: 0 20px 20px 0;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 10px; /*serve para priencher automaticamente os espaço laterais */
    margin-top: 1.1rem;
}

/*===================Home-====================*/
#home-pai{
    width: 100%;
    margin: auto;
}

.botão{
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
}

.botão button{
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 246, 253);
}

.botão .bt{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d42db0;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 2px 1px 7px rgba(49, 0, 30, 0.664);
}
.botão .bt i{
    font-size: 18px;
    color: #fff;
    padding-right: 10px;

}

#home-filho{
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
}
#filho-hom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 60px;
}
#filho-hom button{
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    position: relative;
    top: -20px;
    box-shadow: 0px 1px 5px rgba(196, 196, 196, 0.514);
    margin-bottom: 20px;
    
}

#filho-hom h3{
    font-family: "Poppins";
    font-size: 1.7rem;
}

div #f-hom span{
    position: absolute;   
    right: 50px;
    font-family: "Poppins";
    font-size: 1.2rem;
}
.homo-section{
    width: 100%;
    margin: auto; /* Centraliza */
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 10px;
      
}
#colheção{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr)); /* Ajusta colunas automaticamente */
    gap: 20px; 
    margin: auto;
    box-sizing: border-box; 
}
.home{
    height: 360px;
    display: flex;
    justify-content: center;
}
.home-img{
    max-width: 30%;
    height: 360px;
    border: none;
    border-radius: 0 20px 0 20px;
    object-fit: cover;
    position: relative;
}
.hom{
    background-color: white;
    padding:  15px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 2px 4px rgba(104, 104, 104, 0.575);
    gap: 1px;
    position: relative;
}
.ho{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    overflow: hidden;
}

.ho span h5{
    font-family: "Poppins";
    font-size: 1.2rem;
    font-weight: 600;
}
.ho span p{
    font-family: "Poppins";
    font-size: 1.2rem;
    color: rgba(77, 77, 77, 0.747);
}
.ho i{
    color: rgba(65, 63, 63, 0.856);
}
div .h{
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

div .h h6{
    font-size: 1.1rem;
    font-family: "Poppins";
    color: black;
}

div .h button{
    border-radius: 5px;
    border: 1px solid rgba(121, 120, 120, 0.432);
    color: rgba(121, 120, 120, 0.801);
    margin-left: 9px;
    padding: 3px;
    border: none;
}
.hom h4{
    color: rgb(158, 3, 81);
    font-family: "Poppins";
    font-weight: 500;
}
.hom h5{
    font-size: 1.3rem;
    color: rgb(158, 3, 81);
    font-family: "Poppins";
    font-weight: 500;
    margin-bottom: 9px;
}
.hom p{
    font-family: "Poppins";
    font-weight: 400;
}

.bt-contact {
    position: relative;
    display: flex;    
    right: 0;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 2px;
    
}

.bt-contact button{
 padding: 10px 25px;
 font-size: 1.1rem;
 border-radius: 5px;
 font-weight: 600;
 border: none;
 color: #fff;
 background-color: #d42db0;
}

/*==================<div class="colhel-text">=====================*/

.colhel-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: var(--body--color);
    padding: 10px; 
}
.colhel-text h3{
    font-size: 1.2rem;
    font-family: "Poppins";

}
.colhel-text a{
 color: inherit;
 font-size: 0.9rem;
 font-family: "Poppins";
}
.colhel-text a:hover{
    color: #d42db0;
}

/*===================4 quarta-Section====================*/
#emana{
    min-width: 100%;
    display: flex;
    flex-direction: row;

    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*img-eng*/
.img-eng{
    display: flex;
    justify-content: flex-start;
    margin: auto;
    padding: 0 30px;
}
.img-eng img{
    max-width: 100%;
    max-height: 90%;
    border: none;
    border-radius: 0 40px;
}
/*=======section- filho========*/
#contai-eman1{
    max-width: 50%;
    padding: 0 20px;
   
}
.eman1-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
}
/*====<div class="eman1-1">=====*/
.eman1-1 h1{
    font-size: 1.9rem;
    font-family: "DM Sans";
    margin-top: 20px;
}

.eman1-1 p{
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    color: black;
    font-weight: 400;
    margin-bottom: 20px;
}
/*====== <div class="eman2-2">=====*/
.eman2-2{
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}
.ema2 h1{
    font-size: 2.1rem;
    font-family: "DM Sans";    
}
.ema2 p{
    font-family: "Poppins";
    font-size: 0.9rem;
    color: black;
}
/*=========<div class="btn-eman2-2">=======*/

.btn-eman2-2 button{ /*botão de Learn Mare*/
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    border: 3px solid var(--header-bg-color);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
}
.btn-eman2-2 button:hover{
    background-color: var(--header-bg-color);
    color: white;
    transition: 0.3s;
}

/*===================5 Quinta-Section====================*/
#section-5{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
   
}
#sectio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
    gap: 20px;
    padding: 0 30px;
    
}
#sectio h1{
    font-size: 2.1rem;
    font-family: "DM Sans";
   
}
.emanel-2 p{
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    color: black;
    font-weight: 400;
}


.se5-img img{
    max-width: 100%;
    max-height: 90%;
    
    border: none;
    border-radius: 30px;
}
/*=================== TAILER-====================*/
#trailer{
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
}

.secti-trailer{
    width: 100%;
    height: 29vw;
    background-image: url(img/img2/canvas_wall_art_banner3.jpg);
   background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    overflow: hidden;
   gap: 21px;
   padding: 50px;
  
}
.secti-trailer h5{
    color: #580338;
    font-size: 3vw;
    font-family: "DM Sans";
}
.secti-trailer p{
   font-family: "Poppins";
   font-size: 1.1vw;
}




/*===================6 Quinta-Section====================*/
#section-6{
    width: 100%;
    padding: 20px;
    margin: auto;
}
.secti{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin: auto;
    gap: 40px;
    padding-right: 20px;
    margin-bottom: 40px;
    
}
.secti h1{
    font-size: 1.9rem;
    font-family: "DM Sans";
}
#secti-2{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
#btn-voltar-recuar{
    display: flex;
    align-items: center;
}

.bi{
     color: rgb(150, 7, 66);
    font-size: 2rem;
    cursor: pointer;
}

.sect{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    background-color: var(--header-bg-color);  
    width: 17.9rem; 
    height: 19.4rem;
    padding: 1rem 1.1rem;
    margin-left: 0.7rem;
}

.sect-3{
    display: flex;
}

#secti-2 h1{
    color: #fff;
    font-family: "DM Sans";
    font-size: 1.2rem;
}
#secti-2 h5{
    color: #fff;
    font-family: "DM Sans";
    font-size: 0.9rem;

}

#secti-2 p{
    font-family: "Poppins", sans-serif;
    font-size: 0.7rem;
    color: #fff;
    font-weight: 400;
}
/*===================6 Quinta-Section====================*/

#section-7{
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   
    
}
#section-7 h1{
    font-size: 1.8rem;
    font-family: "DM Sans";
    align-items: center;
    justify-content: center;
    text-align: center;
}
#section-7 p{
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    line-height: 150%;
    color: black;
    font-weight: 400;
    margin-left: 2rem;
    margin-right: 2rem; /*serve para priencher automaticamente os espaço laterais */
    text-align: center;
    margin-bottom: 20px;
}


/*===================   HERO-1  Benefícios casa de luxo ===================*/
#hero-1{
    width: 100%;
    background-color: var(--fundo-fd-color-2);
    padding: 20px;   
}
.con{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.con h1{
    font-size: 1.9rem;
    font-family: "DM Sans";
    line-height: 1;
    margin-bottom: 2.4rem; 
}
.con img{
    width: 20%;
}
.bene-1{
  min-width: 60%;
  min-height: 35%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.bene{
    max-width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--brand-light); 
    box-shadow: 2px 2px 7px  rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    overflow: hidden;
}
.bene-item{
    max-width: 99%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--header-bg-color);
}
.bene-item h2{
    font-family: "DM Sans";
    font-size: 1.3rem; /*altura do taxro*/
    font-weight: 700;
    text-transform: uppercase; /*caixa alta*/
}
#bi{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}
#bi .bi{
    font-size: 1.3rem;
    align-items: flex-end;
    color: #e67dcf;
}
.bene-item .bi{
    color: var(--header-bg-color);
    font-size: 2.4rem;
}
.bene p{
    font-family: "Poppins";
    font-size: 0.9rem;
    padding: 20px;    
}

/*=================== FOOTER ====================*/

footer{
   background-color: var(--header-bg-color); 
    width: 100%;
    height: 24.1rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4.1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1.4rem;
}
.footer h3{
    font-family: "DM Sans";
    font-size: 1.2rem;
    color: var(--brand-light);
   
    margin-bottom: 0.4rem;
}
.footer ul li a{
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    color: var(--brand-light);
    line-height: 150%;
    margin-bottom: 0.4rem;
}
.footer ul li a:hover{
    color: var(  --footer-bg-color);
    font-weight: 500;
    transition: 0.3s;
}


.footer-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;/*serve para priencher automaticamente os espaço laterais */
    margin-right: 2rem; /*serve para priencher automaticamente os espaço laterais */

}

.footer-1 p{
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    color: var(--brand-light);
    line-height: 150%;
}

#logo{
    width: 12rem;
   
    cursor: pointer;
}
.footer-2{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.footer-2 h3{
    font-family: "DM Sans";
    font-size: 1.3rem;
    color: var(--brand-light);
    line-height: 130%;
    
}

.footer-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3rem;
    cursor: pointer;
}
@media (max-width: 999px) {
    .colhel-text{
    display: none;
 }


.homo-section{
    min-width: 100%;
    margin: auto; /* Centraliza */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
      
}

.home{
    height: 280px;
    display: flex;
    justify-content: center;
     box-sizing: border-box; 
}
.hom{
    padding: 0 10px;
}
.hom p{
    font-size: 1.4vw;
    font-family: "Poppins";
    font-weight: 400;
}
.home-img{
    max-width: 35%;
    height: 280px;
    border: none;
    border-radius: 0 20px 0 20px;
    object-fit: cover;
    position: relative;
}


 section #sectio{
    padding: 0 10px;
 }

}
/* ========== Mobile 480px ==============*/
@media (max-width: 480px) {
    
/*============Homem=========*/

.wapper{
    width: 100%;
    height: 80vh; 
}
#hero{ 
    padding: 20px;
    gap: 10px;
}
.text{
    gap: 20px;  
}
.text h1{
    top: 35px;
    left: 15px;
    font-size: 2.1rem;
    font-weight: 800;
}

.text p{
    top: 20px;
    left: 15px;
    font-size: 1.1rem;
    
}
#input{
    top: 3px;
    left: px;
}
.btn-pesquisa{
    padding: 5px 3px;
}
.btn-começar{ /* botão- O que ajudar*/
   
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 7px 1px; /*serve para priencher automaticamente os espaço laterais */
}
 /*========segunda-section (home-pai)=============== */  
section .botão{
    max-width: 100%;
    
}
.botão .bt{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
}

div .bt i{
    padding: 5px 10px;
}
.botão .bt i{
    font-size: 25px;
    color: #fff;
    padding-right: 1px;

}
.botão button{
    display: none;
}
.botã button{
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(243, 238, 242);
    margin-bottom: 20px;
}
#filho-hom button{
    display: none;
}
  .home-img{
    display: none;
  }    

.hom{ 
    box-shadow: 2px 1px 3px 3px rgba(75, 73, 73, 0.103);
}
.ho{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    overflow: hidden;
}

.ho span h5{
    font-family: "Poppins";
    font-size: 1.0rem;
    font-weight: 600;
}
.ho span p{
    font-size: 0.9rem;
}

div .h{
    margin-bottom: 1px;
}

div .h h6{
    font-size: 0.8rem;
}

div .h button{
    padding: 2px 5px;
}
.hom h4{
    font-size: 0.9rem;
}
.hom h5{
    font-size: 0.9rem;
    margin-bottom: 4px;
}
.home .hom p{
    font-size: 0.9rem;
}
.bt-contact {
    padding-top: 5px;
}
.bt-contact button{
 padding: 5px 10px;
 font-size: 0.8rem;
}
/*=======SECTOM-emana============*/

/*img-eng*/

#emana .img-eng img{
    max-width: 100%;
    max-height: 90%;
    border: none;
    border-radius: 0 10px;
}
/*=======section- filho========*/
#contai-eman1{
    max-width: 50%;
    padding: 0 20px;
   
}
/*====<div class="eman1-1">=====*/
#emana .eman1-1 h1{
    font-size: 1.7rem;
}
#emana .eman1-1 p{
    font-size: 1.1rem;
}
/*====== <div class="eman2-2">=====*/
.eman2-2{
    gap: 45px;
}
.ema2 h1{
    font-size: 2.0rem; 
}
.ema2 p{
    font-size: 1rem;
}
 /*=======section 5============*/
#section-5{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
}
#section-5 #sectio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    
}
section #sectio h1{
    font-size: 1.7rem;   
}
#sectio .emanel-2 p{
    font-size: 1.1rem;
}
section .se5-img img{
    max-width: 90%;
    max-height: 30%;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
}
/*=========trailer==*/
#trailer{
 display: none;
}
/*===================6 Quinta-Section====================*/
#section-6{
    width: 100%;
    padding: 20px;
    margin: auto;
}
section #secti-2{
    display: flex;
    flex-direction: column;
 }
.secti{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    gap: 20px;
    margin-bottom: 40px;
    
}
.secti h1{
    font-size: 1.5rem;
    font-family: "DM Sans";
}
section #secti-2{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.bi{
    font-size: 2rem;
    cursor: pointer;
}

.sect{
    width: 100%; 
    height: 37vh;
  
}
/*============= <section id="section-6"> ======================*/
.sect-3{
    display: flex;
    gap: 10px;
}

#secti-2 h1{
    font-size: 1.4rem;
}
#secti-2 h5{
    font-size: 1.4rem;
}

#secti-2 p{
    font-size: 0.9rem;
}
#section-7 h1{
    font-size: 1.2rem;
}
#section-7 p{
    font-size: 0.9rem;
}
/*============= <section id="hero-1"> ======================*/
 .con h1{
    font-size: 1.9rem;
   
    margin-bottom: 2.4rem; 
}
.con img{
    width: 15%;
}
.bene-1{
  min-width: 100%;
  min-height: 35%;
}
.bene{
    max-width: 100%;
    height: 310px;
}
.bene-item{
    max-width: 100%;
    padding: 0 20px;
    padding-top: 10px;
}
.bene-item h2{
    font-size: 1.2rem; /*altura do taxro*/
}
#bi{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.bene p{
    font-family: "Poppins";
    font-size: 1.1rem;
    padding: 20px;    
}
/*=========FOOTER=====================*/
 
.footer h3{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.footer ul li a{
    font-family: "Poppins", sans-serif;
    font-size: 1.0rem;
    margin-bottom: 20px;
}
footer .footer-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 20px;
}

.footer-1 p{
    font-size: 0.6rem;
}

#logo{
    max-width: 100%;
    cursor: pointer;
}
.footer-2{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.footer-2 h3{
    font-family: "DM Sans";
    font-size: 1.3rem;  
}
.footer-2 p{
    font-size: 0.8rem;
}
.footer-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

}

@media (max-width: 760px){
    /*===== Geral =====*/
  .menu-nav{
    display: none;

  }
  #open-menu{
    display: flex;
  }

  .botão{
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
}

.botão .bt{
    padding: 7px 14px;
    font-size: 1.1rem;
    font-weight: 500;
}
 /*===== Geral =====*/


.homo-section{
    min-width: 100%;
    margin: auto; /* Centraliza */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
      
}

.home{
    height: 280px;
    display: flex;
    justify-content: center;
     box-sizing: border-box; 
}
.hom{
    padding: 0 10px;
}
.hom p{
    font-size: 1.7vw;
    font-family: "Poppins";
    font-weight: 400;
}
.home-img{
    max-width: 20%;
    height: 280px;
    border: none;
    border-radius: 0 20px 0 20px;
    object-fit: cover;
    position: relative;
}
  .bene-1{
    display: flex;
    flex-direction: column;
  }
  
  /*===============  <section id="emana"><!--4 sections-->  ==================*/

  #emana{
    display: flex;
    flex-direction: column;
  }
  /*img-eng*/
 .img-eng{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0 30px;
 }

  .img-eng img{
    max-width: 80%;
    max-height: 70%;
    border: none;
    border-radius: 5px;
}
  .emane1-2 p{
    font-size: 0.2rem;
  }

  section #contai-eman1{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .eman1-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

  /*=======SECTION 5 =========*/
  #sectio h1{
    font-size: 2.1rem;
    font-family: "DM Sans";
   
}
.emanel-2 p{
    font-family: "Poppins", sans-serif;
    font-size: 1.0em;
    color: black;
    font-weight: 400;
}


.se5-img img{
    max-width: 100%;
    max-height: 90%;
    
    border: none;
    border-radius: 30px;
}
.secti-trailer{
    height: 40vh;
}
.secti-trailer h5{
    font-size: 2rem;
}
.secti-trailer p{
 font-size: 0.9rem;   
}
 
.bene {
    margin: none;
}

}
